{
  "presets": [
    "es2015",
    "react",
    "stage-2",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-regenerator",
    "transform-async-to-generator",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "comments": false
    }
  }
}
